nav{
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 0px !important;   
}
nav .navbar-nav{
    margin-top: 12px;
}
nav .navbar-nav a{
    color: var(--main--color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 16px;
}
nav .navbar-nav .active{
    color: var(--orange--color) !important;
}